#div1
{
 width: 65%;
 border: 2px solid black;
 height: 100%;
 position: absolute;
}
#div2
{
    width: 40%;
    border: 2px solid red;
    height: 100%;
    position: absolute;
    margin-left: 65%;
}
table, th, td 
{
    margin:10px 0;
    border:solid 1px #333;
    padding:2px 4px;
    font:15px Verdana;
    width: 45%;
    
}
#data
{
    width: 25%;
    height: 5%;
    font-weight: bold;
    font-size: 17px;
}
#myButton1, #myButton2, #myButton3
{
    height: 5%;
}
#myButton4
{
    margin-right: 10%;
    width: 15%;
    height: 5%;
    margin-top: 70%;
    margin-left: 50%;
}
body{
    background-color: #f0ffff;
}
